html,body,pq,a,g,e{
    height:100%;
    width: 100%;
    margin: 0;
}
pq,a,g,e{
    height:100%;
    font-size: 180px;
    position:  absolute;
    padding-top: 30%;
    text-align: center
}
pq{
    background-color:green;
    animation: season1 10s infinite;
}
a{
    background-color: red;
    animation: season2 10s infinite;
}
g{
    background-color: yellow;
    animation: season3 10s infinite;
}
e{
    background-color: deepskyblue;
    animation: season4 10s infinite;
}
@keyframes season1 {
    0%{opacity: 0}
    20%{opacity: 0}
    30%{opacity:100}
    40%{opacity: 0}
    100%{opacity: 0}


}
@keyframes season2 {
    0%{opacity: 0}
    40%{opacity: 0}
    50%{opacity: 100}
    60%{opacity: 0}
    100%{opacity: 0}

}
@keyframes season3 {
    0%{opacity: 0}
    60%{opacity: 0}
    70%{opacity: 100}
    80%{opacity: 0}
    100%{opacity: 0}

}
@keyframes season4 {
    0%{opacity: 0}
    80%{opacity: 0}
    90%{opacity: 100}
    100%{opacity: 0}

}